react-connections/node_modules/
react-connections/.parcel-cache/*

.idea/
.vscode/
react-connections/node_modules/
react-connections/build/
react-connections/dist/
.DS_Store
*.tgz
react-connections/my-app*
react-connections/template/src/__tests__/__snapshots__/
react-connections/lerna-debug.log
react-connections/npm-debug.log*
react-connections/yarn-debug.log*
react-connections/yarn-error.log*
react-connections/.changelog
react-connections/.npm/

*.swp
